{template "content","header"}
    <!--位置-->
    <div class="lx_box">
        <div class="lx_title fw-b">您的位置：<a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)}</div>
    </div>
    <!--大学留学-->
    <div class="kc_wrap">
        <div class="f18 tc about_title">大学留学</div>
        <div class="clearfix da_swrap">
            <ul class="fl da_nav">
                <li class="active">名校解析</li>
                <li>专业评说</li>
                <li>报名申请</li>
                <li>行前指导</li>
                <li>微留学</li>
                
            </ul>
        
            <ul class="da_table fl">
                <li class="active">
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>

                </li>
                <li class="">
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学2 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>

                </li>
                <li class="">
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学3 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>

                </li>
                <li class="">
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学4 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>

                </li>
                <li class="">
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学5 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>
                    <div class="da_sw">
                        <div class="da_title tc rel"><span>哈佛大学 harvard university</span> <span class="da_sti fr">金融类专业</span></div>
                        <div class="da_text">
                            <p class=""> Lancing College创建于1848年，是一所著名的寄宿及走读制混校。学校位于英格兰南部海滨，距离布莱顿市中心20分钟车程，希斯罗机场90分钟车程。蓝星学院因教学质量优秀而拥有良好的学术声誉，数学是最出色的科目。学校目前正在修建农场，学生可以去照顾动物或者种菜，以便更好地亲近自然。在课外活动上，蓝星学院开设的戏剧表演，社区活动或者户外活动都非常受欢迎。学校有一个300座的剧院，每年有15场演出。此外，该校还计划修建一个全新的体育中心。</p>
                            <div class="da_btn">收起</div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>

{template "content","footer"}