{template "content","header"}
<!--main-->
    <!--位置-->
    <div class="lx_box">
        <div class="lx_title fw-b">您所在的位置：标签</div>
    </div>

    <ul class="news_lists">
        {loop $datas $r}
        <li class="clearfix" style="border-bottom:1px dashed #000;">
            <div class="fl rel news_tt">
                <div class="news_title tover"><a  target="_blank" href="{$r[url]}">{$r[title]}</a></div>
                <div class="news_text tover2">{$r[description]}</div>
                <div class="news_time">{date('Y-m-d H:i:s',$r[inputtime])}</div>
            </div>
        </li>
        {/loop}
    </ul>
    <!--分页-->
    <div class="page">
        <div class="M-box m-style">{$pages}</div>
    </div>
{template "content","footer"}